<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/fragment :: head"></head>
<body>

<nav th:replace="fragments/fragment :: nav"></nav>
<br>

<!--card-->
<div class="container">

    <div class="row">
        <div class="col" style="width:400px">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title">제목</h4>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment :: footer"></div>

</body>
</html>

